h2{
    text-align: center;
    color: black;
    font-family: serif;
    font-size: x-large;
}
h3{
    color: rgb(181, 6, 181);
}
h4{
    color: rgb(181, 6, 181);
}
h5{ 
    color: rgb(181, 6, 181) ;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}
#id{
    text-align: center;
    color:aqua;
}
#img1{
    height:100px;
    width:100px ;
    margin: 5px; 
    text-align: center
    ;
}
#img2{
    height:100px;
    width:100px ;
    margin: 5px; 
    text-align: center;
}
#img3{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
    ;
}
#img4{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img5{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center
    ;
}
#img6{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img7{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img8{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img9{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#id1{
    text-align: center;
    color:aqua;
}
#img10{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img11{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img12{ height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;}
#img13{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img14{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img15{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img16{ height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;}
#img17{ height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;}
#img18{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#id2{
    text-align: center;
    color:aqua;
}
#img19{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img20{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img21{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img22{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img23{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img24{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img25{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img26{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img27{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#id3{
    text-align: center;
    color:aqua;
}
#img28{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img29{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img30{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img31{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img32{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img33{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img34{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img35{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
#img36{
    height:100px;
    width:100px ;
    margin: 5px;
    text-align: center;
}
